.chat-side-menu {
    background-color: var(--navBg);
}

.chat-text {
    // color: #fff;
    font-family: Gilroy-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.chat-icon {
    font-size: 3rem !important;
}

.chat-textbox {
    background-color: var(--navBg);
    border-radius: 45px;
    border: none !important;
    outline: none !important;

    * {
        border: none !important;
        outline: none !important;
    }

    input, textarea {
        color: #fff !important;
        border: none !important;
        outline: none !important;
        font-size: 14px !important;
    }
}

.send-icon {
    color: #E1E3EA;
    cursor: pointer;
}