.content {
    border-bottom: 1px solid var(--grey-lighten-2, #E0E0E0);
    background: var(--grey-lighten-4, #F5F5F5);
}

.tabs-container {
    button {
        color: var(--Neutral-Dark-grey, #2E2D2C);
        leading-trim: both;
        text-edge: cap;
        font-family: Gilroy-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        outline: none;
        height: 40px;

        &.Mui-selected {
            color: #2E2D2C !important;

            svg path {
                fill: var(--mindsprintRed) !important;
            }
        }
    }
}

.MuiTabs-indicator {
    background-color: var(--mindsprintRed) !important;
}

.section-title {
    color: var(--custom-secondary, #2E2D2C);
    text-align: center;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: 0.25px;

    span {
        color: #757575;
        font-family: Gilroy-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.25px;
    }
}

.button-group {
    button{
        border-color: #E0E0E0 !important;
        color: #616161 !important;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Gilroy-SemiBold;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 257.143% */
        letter-spacing: 1.25px;
        text-transform: uppercase;

        &.active {
            background-color: var(--mindsprintRed) !important;
            // border-color: var(--mindsprintRed) !important;
            border: none !important;
            color: #fff !important;
        }

        &:focus {
            outline: none !important;
        }
    }
}

.listing-content{
    background-color: #fafafa;
}

.list-header-icons {
    color: #616161 !important;
    cursor: pointer;
}

.table-body {
    .table-row {
        margin-bottom: 1rem;
    }
}
