.product-item {
    &:last-child {
        border-bottom: none !important;
    }
    border-bottom: 1px dashed #E1E3EA;

    .product-item-title {
        color: #fff;
        font-family: Inter;
        font-size: 13.975px;
        font-style: normal;
        font-weight: 600;
        line-height: 20.962px; /* 150% */
    }

    .product-item-desc {
        color: #fff;
        font-family: Inter;
        font-size: 12.35px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.525px; /* 150% */
    }

    .product-item-price {
        color: #fff;
        font-family: Inter;
        font-size: 16.25px;
        font-style: normal;
        font-weight: 600;
        line-height: 24.375px; /* 150% */
    }

    .product-item-chip {
        text-align: center;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px; /* 100% */
        border-radius: 6px;

        svg {
            height: 13px;
        }

        &.success {
            color: var(--successBlue);
            background-color: var(--successBlueBg);
        }

        &.danger {
            color: var(--dangerPink);
            background-color: var(--dangerPinkBg);
        }
    }
}