.product-item {
    &:last-child {
        border-bottom: none !important;
    }
    border-bottom: 1px dashed #E1E3EA;

    .product-item-title {
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 20.962px; /* 150% */
    }

    .product-item-desc {
        color: #000;
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.525px; /* 150% */
    }

    .product-item-price {
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 24.375px; /* 150% */
    }

    .product-item-chip {
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px; /* 100% */
        border-radius: 6px; 
        max-width: 60px !important;

        svg {
            height: 12px;
        }

        &.success {
            color: var(--successBlue);
            background-color: var(--successBlueBg);
        }

        &.danger {
            color: var(--dangerPink);
            background-color: var(--dangerPinkBg);
        }
    }
}

.top-selling-products {
    .product-table-header:not(:first-child), 
    .product-item-price {
        min-width: 1rem;
        max-width: 2rem;
        width: 100%;
    }
}